mixin work()
    +b.DIV.work
      +b.DIV.container
        img(src="img/Flat_iPhone_5C_Mock_Up.jpg")
        +b.title
          h2 DESIGN
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            |sed do eiusmod tempor incididunt ut labore et dolore
            |magna aliqua. Ut enim ad minim veniam, quis
            |nostrud exercitation ullamco laboris nisi
          a(href="#")
            |learn more








