mixin team()
  +b.DIV.team
      +b.container
        +b.DIV.title
            img(src="img/Livello_4.png")
            h2 our community
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        img(class="item" src="img/Livello_5.png")
        img(class="item" src="img/Livello_6.png")















