mixin header()
  +b.HEADER.header
    +b.UL.nav
      +e.LI.item
        +e.A(href="#") Home
      +e.LI.item
        +e.A(href="#") Photoapp
      +e.LI.item
        +e.A(htef="#")
          +e.IMG(src="img/logo/logo.svg")
      +e.LI.item
        +e.A(href="#") Design
      +e.LI.item
        +e.A(href="#") Dolwnload
    +b.DIV.container
      +e.H1 your life , a photo
      +e.P print your life in a simple photo
      +e.A get started
    +b.DIV.social
      +e.A(href="#")
        +b.I(class="fa fa-twitter")
      +e.A(href="#")
        i(class="fa fa-flickr")
      +e.A(href="#")
        i(class="fa fa-dribbble")




